<html>
    <head>
        <title>Cross Game</title>
    </head>

    <body>
        <div id="game-scene">
            <div id="opponent-div">
                <h3>Opponent:</h3>
                <div id="opponent-cards"></div>
            </div>

            <div id="your-div">
                <h3>You:</h3>
                <div id="your-cards"></div>
            </div>
        </div>
        <div id="popup-container">
            <div id="popup">
              <h2>Liciteaza:</h2>
              <div id="buttons-container">
                <button class="licitation-button">Pas</button>
                <button class="licitation-button">1</button>
                <button class="licitation-button">2</button>
                <button class="licitation-button">3</button>
                <button class="licitation-button">4</button>
                <button class="licitation-button">5</button>
              </div>
            </div>
          </div>
          <div id="timer-container">
            <div class="timer-container circle">
              <div class="dots ss_dots"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="ss"></circle>
              </svg>
              <div id="timer"></div>
            </div>
          </div>             
    </body>
</html>
