#game_body{
    background-image: linear-gradient(#05360B, black);
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: black;
    margin: 0;
    padding: 0;
}

#opponent-cards img {
    height: 159px;
    width: 107px;
    margin: 5px;
    border: 2px solid #a52e2e;
    border-radius: 10%;
    z-index: 1;
    transition: all 0.5s linear;
}

/*
#opponent-cards img:hover {
    transform: scale(1.1);
}
*/

#your-cards img {
    height: 159px;
    width: 107px;
    margin: 5px;
    border: 2px solid #a52e2e;
    border-radius: 10%;
    z-index: 1;
}

/*
#your-cards img:hover {
    transform: scale(1.1);
}
*/

#opponent-div div {
    top: 0;
    left: 0;
    background-color: bisque;
}

#your-div {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: antiquewhite;
}

#your-div h2{
    top: 0;
    left: 0;
}

/**************** LICITATION-POP-UP ****************/

#licitation-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
#licitation-popup {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
  
#licitation-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
  
.licitation-button {
    background-color: rgb(160, 89, 89);
    border-color: rgb(160, 89, 89);
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}
  
.licitation-button:hover {
    border-color: black;
    font-size: 28px;
}

/**************** TROMF-POP-UP ****************/

#tromf-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 2, 2, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#tromf-popup {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

#tromf-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.tromf-button {
    border-color: #ffffff;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.tromf-button img {
    border-radius: 70%;
    height: 45px;
    width: 45px;
}

.tromf-button:hover {
    border-color: #a52e2e;
}
  
/**************** TIMER ****************/

#timer-container {
    display:none;
}

#timer-container .circle {
    position: relative;
    width: 150px;
    height: 150px;
    top: 55%;
    left: 90%;
    justify-content: center;
    align-items: center;
}

#timer-container .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#timer-container .circle svg circle {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #fcfcfc;
    stroke: rgb(241, 74, 74);
    stroke-width: 4;
    transform: translate(5px, 5px);
}

#timer-container .circle svg circle:nth-child(2) {
  stroke: rgb(240, 62, 62);
  stroke-dasharray: 440;
}

#timer-container div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

/**************** SCORE-TABLE ****************/
.table-container {
    top: 0;
    right: 0%;
    position: absolute;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
  
table {
    border-collapse: collapse;
    width: 15%;
}

#points {
    font-size: 2em;
}
  
th, td {
    border: 3px solid black;
    text-align: center;
    background-color: white;
    padding: 10px 10px;
}

#text {
    text-align: center;
}

th:first-child {
  border: none;
  background-color: transparent;
}
  
thead th {
        background-color: rgb(160, 89, 89);
        color: #ffffff;
        text-align: left;
}
  
tbody td:first-child {
    font-weight: bold;
    text-align: left;
    background-color: rgb(160, 89, 89);
    color: #ffffff;
}  

/***** CARDS ANIMATION *****/
#centeredDownCardOpponent {
  position: absolute;
  top: 45%;
  left: 40%;
}

#centeredDownCardUser {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -60%);
}

#wrapperDiv img {
    height: 159px;
    width: 107px;
    margin: 5px;
    border: 2px solid #a52e2e;
    border-radius: 10%;
    z-index: 1;
    transform: translate(-50%, -60%);
    transition: all 0.5s linear;
}

#wrapperDiv {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -60%);
    transition: all 0.5s linear;
}