body{
    background-color: #836953;
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: black;
}

#opponent-cards img {
    height: 159px;
    width: 107px;
    margin: 5px;
    border: 2px solid #a52e2e;
    border-radius: 10%;
    z-index: 1;
}

#your-cards img {
    height: 159px;
    width: 107px;
    margin: 5px;
    border: 2px solid #a52e2e;
    border-radius: 10%;
    z-index: 1;
}

#opponent-div div {
    top: 0;
    left: 0;
}

#your-div {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#your-div h2{
    top: 0;
    left: 0;
}

#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
#popup {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
  
#buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
  
.licitation-button {
    background-color: rgb(160, 89, 89);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}
  
.licitation-button:hover {
    background-color: #a05959;
    color: white;
}

#timer-container {
    display:none;
}

#timer-container .circle {
    position: relative;
    width: 150px;
    height: 150px;
    top: 55%;
    left: 90%;
    justify-content: center;
    align-items: center;
}

#timer-container .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#timer-container .circle svg circle {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #a52e2e;
    stroke: rgb(80, 67, 67);
    stroke-width: 2;
    transform: translate(5px, 5px);
}

#timer-container .circle svg circle:nth-child(2) {
  stroke: black;
  stroke-dasharray: 440;
}

#timer-container div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}