<html>
    <head>
        <title>Cross Game</title>
    </head>

    <body>
        <div id="game-scene">
            <div id="opponent-div">
                <h3>Opponent:</h3>
                <div id="opponent-cards"></div>
            </div>

            <div id="your-div">
                <h3>You:</h3>
                <div id="your-cards"></div>
            </div>
        </div>
        <div id="licitation-popup-container">
            <div id="licitation-popup">
              <h2>Liciteaza:</h2>
              <div id="licitation-buttons-container">
                <button class="licitation-button">Pas</button>
                <button class="licitation-button">1</button>
                <button class="licitation-button">2</button>
                <button class="licitation-button">3</button>
                <button class="licitation-button">4</button>
                <button class="licitation-button">5</button>
              </div>
            </div>
        </div>
        <div id="tromf-popup-container">
          <div id="tromf-popup">
            <h2>Alege tromf:</h2>
            <div id="tromf-buttons-container">
              <button class="tromf-button" name="R">
                <img src = "../../assets/card-types/rosu.jpg" style = "width: 50px;">
              </button>
              <button class="tromf-button" name="V">
                <img src = "../../assets/card-types/verde.jpg">
              </button>
              <button class="tromf-button" name="D">
                <img src = "../../assets/card-types/duba.jpg">
              </button>
              <button class="tromf-button" name="G">
                <img src = "../../assets/card-types/ghinda.jpg">
              </button>
            </div>
          </div>
      </div>
          <div id="timer-container">
            <div class="timer-container circle">
              <div class="dots ss_dots"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="ss"></circle>
              </svg>
              <div id="timer"></div>
            </div>
          </div>
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th id="text">Opponent</th>
                  <th id="text">You</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="text">Total Points</td>
                  <td id="points">100</td>
                  <td id="points">120</td>
                </tr>
              </tbody>
            </table>
          </div>
                       
    </body>
</html>
