<html>
    <head>
        <title>Cross Game</title>
    </head>

    <body id="game_body">
        <div id="game-scene">
            <div id="opponent-div">
                <h3>Opponent:</h3>
                <div id="opponent-cards"></div>
            </div>

            <div id="middle-div">
              <div class="table-container">
                <table>
                  <thead>
                    <tr class="table-row">
                      <th></th>
                      <th class="table-text">Current Points</th>
                      <th class="table-text">Total Points</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="table-text">Opponent</td>
                      <td class="points" id="current-opponent-points">0</td>
                      <td class="points" id="total-opponent-points">0</td>
                      <td class="announcement-td">
                        <div class="announcement-box arrow-left hidden" id="opponent-announcement" style = "height: 20px; width: 20px; margin-left: 0px">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="table-text">You</td>
                      <td class="points" id="current-user-points">0</td>
                      <td class="points" id="total-user-points">0</td>
                      <td class="announcement-td">
                        <div class="announcement-box arrow-left hidden" id="user-announcement" style = "height: 20px; width: 20px; margin-left: 0px">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div id="comment-box-container">
                <div class="comment-box arrow-right bounce-right hidden">
                  Pick a card!
                </div>
              </div>

              <div id="remaining-card-deck-div">
                <img id="remaining-card-deck" src = "../../assets/card-faces/back.jpg">
              </div>
            </div>

            <div id="your-div">
                <h3>You:</h3>
                <div id="your-cards"></div>
            </div>
        </div>

        <div id="licitation-popup-container">
            <div id="licitation-popup">
              <h2>Liciteaza:</h2>
              <div id="licitation-buttons-container">
                <button class="licitation-button">Pas</button>
                <button class="licitation-button">1</button>
                <button class="licitation-button">2</button>
                <button class="licitation-button">3</button>
                <button class="licitation-button">4</button>
                <button class="licitation-button">5</button>
              </div>
            </div>
        </div>
        <div id="tromf-popup-container">
          <div id="tromf-popup">
            <h2 style="color:black">Alege tromf:</h2>
            <div id="tromf-buttons-container">
              <button class="tromf-button" name="R">
                <img src = "../../assets/card-types/rosu.jpg" style = "width: 50px;">
              </button>
              <button class="tromf-button" name="V">
                <img src = "../../assets/card-types/verde.jpg">
              </button>
              <button class="tromf-button" name="D">
                <img src = "../../assets/card-types/duba.jpg">
              </button>
              <button class="tromf-button" name="G">
                <img src = "../../assets/card-types/ghinda.jpg">
              </button>
            </div>
          </div>
      </div>
          <div id="timer-container">
            <div class="timer-container circle">
              <div class="dots ss_dots"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="ss"></circle>
              </svg>
              <div id="timer"></div>
            </div>
          </div>
          
    </body>
</html>
