<html>
  <head></head>
  <body>
<div *ngIf="alert_usedemail" class="alert">
  <strong class="alert_text_1">Email already used! </strong>
  <button class="close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="alert_invalidemail" class="alert">
  <strong class="alert_text_2">Invalid email or password format! </strong>
  <button class="close2" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="alert_name" class="alert">
  <strong class="alert_text_3">First and last name are required! </strong>
  <button class="close3" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="alert_registered" class="green_alert">
  <strong class="alert_text_4">You are registered! </strong>
  <button class="close3" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="text">
    The largest community of
    <br>
    cross enthusiasts
  </div>
  <div class ="container">
    <div class ="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign up for an account</h1> 
                </div>
                    <form #loginForm="ngForm" id="signUpForm" (ngSubmit)="signupUser()">
                        <div class="mb-3">
                          <input type="text" class="form-control" id="firstName" name ="firstName" aria-describedby="FirstName" placeholder="First name" [(ngModel)]="firstName" required #fisrtNameInput>
                        </div>
                        <div class="mb-3">
                            <br>
                            <input type="text" class="form-control" id="lastName" name ="lastName" aria-describedby="LastName" placeholder="Last name" [(ngModel)]="lastName" required #lastNameInput>
                        </div>
                        <div class="mb-3">
                            <br>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="email" email="true" required #emailInput>
                        </div>
                        <div class="mb-3">
                          <br>
                          <input type="password" class="form-control" id="exampleInputPassword1" name ="password" placeholder="Create password" [(ngModel)]="password" required (keyup.enter)="signupUser()" #passwordInput>
                        </div>
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary" (click)="signupUser()" [routerLink]="isRegistered ? '/start' : null">Register</button>
                      </form>
                      <a routerLink="/login">Already registered? Click to Login!</a>
            </div>
        </div>
    </div>
    </div>
  </body>
  </html>
