.card{
    border: none;
    width: 15%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background: #ffff;
}

.card h1 {
    color: black;
    text-align: center;
    margin-top: 0%;
}

.btn{
    position: absolute;
    top: 82%;
    left: 45%;
    width: 60px;
    height: 25px;
    border-style: ridge;
    background-color: #085711;
    border-radius: 5px;
}

.btn:hover {background-color: green}

.text{
    position: absolute;
    left: 10%;
    right: 0%;
    top: 40%;
    bottom: 0%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: white;
}

.alert{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: absolute;
    width: 350px;
    height: 50px;
    left: 45%;
    text-align: center;
    border-radius: 5px;
}

.green_alert{
    background-color: #d4edda;
    position: absolute;
    width: 350px;
    height: 50px;
    left: 45%;
    text-align: center;
    border-radius: 5px;
    border-color: #c3e6cb;
    color: #155724;
}

.alert_text_1{
    position: absolute;
    top: 25%;
    left: 20%;
    font-size: 16px;
}

.close{
    position: absolute;
    top: 25%;
    left: 73%;
    width: 25px;
    height: 25px;
    border-style: ridge;
    background-color: white;
    border-radius: 5px;
    border-color: black;
}

.alert_text_2{
    position: absolute;
    top: 25%;
    left: 15%;
    font-size: 16px;
}

.close2{
    position: absolute;
    top: 25%;
    left: 86%;
    width: 25px;
    height: 25px;
    border-style: ridge;
    background-color: white;
    border-radius: 5px;
    border-color: black;
}

.alert_text_3{
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 16px;
}

.close3{
    position: absolute;
    top: 25%;
    left: 80%;
    width: 25px;
    height: 25px;
    border-style: ridge;
    background-color: white;
    border-radius: 5px;
    border-color: black;
}

.alert_text_4{
    position: absolute;
    top: 25%;
    left: 20%;
    font-size: 16px;
}

input{
    width: 70%;
}

a{
    color: black;
    position: absolute;
    left: 11%;
    right: 0%;
    top: 93%;
    bottom: 0%;
}