<html>
  <head></head>
  <body>
<div *ngIf="alert" class="alert">
  <strong>Invalid email or password! </strong>
  <button class="close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

 <div class="text">
    The largest community of
    <br>
    cross enthusiasts
  </div>

  <div class ="container">
    <div class ="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Log in with your account</h1>
                </div>
                    <form #loginForm="ngForm" id="loginForm">

                        <div class="mb-3">
                          <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Email" autocomplete="on" [(ngModel)]="email" email="true">
                        </div>
                        <br>
                        <div class="mb-3">
                          <input type="password" class="form-control" id="exampleInputPassword1" name ="password" placeholder="Password" autocomplete="on" [(ngModel)]="password">
                        </div>
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary" (click)="loginUser()" id="submitButton">Log in</button>
                      </form>
                    <a routerLink="/signup">New user? Click to register!</a>
            </div>
        </div>
    </div>
    </div>
  </body>
    </html>
