#start_body{
    background-image: linear-gradient(#05360B, black);
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}

.everything-container {
    display: flex;
}

.main-div {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

#play-now-button{
    background-color: rgb(122, 6, 6);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 120px;
    height: 40px;
    border-style: none;
    text-align: center;
    color: white;
    
}

#play-now-button:hover {background-color: rgb(170, 15, 15)}

p.title{
    position: absolute;
    top: 20%;
    bottom: 0%;
    left: 40%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: white;
}

p.level {
    position: absolute;
    top: 70%;
    bottom: 0%;
    left: 44%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: white;
}

img{
    border-radius: 70%;
    height: 28%;
    width: 13%;
    margin-left: 8%;
    margin-top: 25%;
}

.container {
    width: 100%;
}

.progressbar{
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    float: left;
    width: 50px;
    position: relative;
    text-align: center;
    color: black;
    left: 41%;
    z-index: 1;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 3px solid white;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    position: relative;
    z-index: 2;
}

.progressbar li:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: white;;
    top: 15px;
    left: -33%;
    z-index: 0;
}

.progressbar li:first-child:after{
    content: none;
}

.progressbar li.active {
    color: black;
}

.progressbar li.active:before {
    border-color: rgb(170, 15, 15);
    background-color: rgb(170, 15, 15);
    color: white;
}

.progressbar li.active + li:after {
    background-color: rgb(170, 15, 15);
}

/*------------------ SIDE PANNEL ------------------------*/
.side-panel-toggle {
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    color: #ffffff;
    background: #2c5746;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    cursor: pointer;
  }
  
.side-panel-toggle:hover {
  background: #156337;
}

.sp-icon-close {
    display: none !important;
}

.side-panel {
    display: none;
    width: 200px;
    flex-shrink: 0;
    padding: 20px;
    color: #ffffff;
    background: #2c5746;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel-open .side-panel {
    display: initial;
    animation: slideOpen 0.3s;
    transition: width 0.3s;
}

@keyframes slideOpen {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
}


/* -------------- CONFIGURATIONS -------------------*/
.select-points {
    background-color: #dbdad5;
    height: max-content;
    color:black;
    padding: 10px;
    margin-bottom: 30px
}

.side-panel-text {
    font-family: 'Outfit';
    font-size: 16px;
    margin-bottom: 10px;
}

.point-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.point-options li {
    display: block;
    margin-right: 10px;
    padding: 8px 12px;
    border-radius: 2px;
    background-color: #dbdad5;
    color: black;
    cursor: pointer;
}

.point-options li:hover {
    background-color: #adadad;
}

.point-options li.selected {
    background-color: #758a7e;
}

