<html>
    <head></head>
    <body id="start_body">
<p class="title">Gross Game</p>
<button routerLink="/game">Play Now</button>
<img src='https://scontent.fclj3-1.fna.fbcdn.net/v/t39.30808-6/326341274_734170951719856_8894296160921399264_n.png?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=jjapYdD_TV8AX9PAT6B&_nc_ht=scontent.fclj3-1.fna&oh=00_AfBOoajdDHHNyN0zYRvaLlYyjce7dzmqH7WuuEHBlOJJtA&oe=6446D0F2' alt='image'>
<p class="level">Your Level</p>
<div class="container"> 
    <ul class="progressbar">
       
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>